<div class="thumbs vertical cols-8">
	{{#repeat 4}}
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-vertical-img.jpg" alt="img" class="img">
			</span>
			<span class="title">Brandi Love</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#play"></use></svg>
					<span class="text">207,743</span>
				</span>
			</span>
		</a>
	{{/repeat}}

	{{#repeat 4}}
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-vertical-img-2.jpg" alt="img" class="img">
			</span>
			<span class="title">Renee Rose</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#play"></use></svg>
					<span class="text">207,743</span>
				</span>
			</span>
		</a>
	{{/repeat}}
</div>