<div class="thumbs cols-5">
	{{#repeat 10}}
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img.jpg" alt="img" class="img">
			</span>
			<span class="title">Тинеджерки (18+)</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#play"></use></svg>
					<span class="text">207,743</span>
				</span>
			</span>
		</a>
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img-2.jpg" alt="img" class="img">
			</span>
			<span class="title">Зрелые</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#play"></use></svg>
					<span class="text">108,598</span>
				</span>
			</span>
		</a>
	{{/repeat}}
</div>