<div class="thumbs cols-8">
	{{#repeat 8}}
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img.jpg" alt="img" class="img">
				<span class="thumb-info">
				<span class="title">Куколд и сексвайф</span>
					<span class="item-info">
						<svg class="svg-icon"><use xlink:href="#play"></use></svg>
						<span class="text">67</span>
					</span>
				</span>
			</span>
		</a>
	{{/repeat}}

	{{#repeat 8}}
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img-2.jpg" alt="img" class="img">
				<span class="thumb-info">
					<span class="title">Порно фильмы</span>
					<span class="item-info">
						<svg class="svg-icon"><use xlink:href="#play"></use></svg>
						<span class="text">42</span>
					</span>
				</span>
			</span>
		</a>
	{{/repeat}}
</div>