	</div>
		</div>
		<div class="footer">
			<div class="footer-outer blur">
				<div class="footer-inner">
					<a href="#" class="footer-logo">
						<img src="images/logo.svg" alt="logo" width="203" height="52">
					</a>
					<div class="footer-nav">
						<a href="#" class="footer-link">DMCA</a>
						<a href="#" class="footer-link">Обратная связь</a>
						<a href="#" class="footer-link">Порно</a>
					</div>
					<div class="copy">Находясь на сайте агрегатора РуХаб, вы подтверждаете, что вам 18+ лет и осознаёте то, что все модели в видео 18+ лет, снимаются добровольно, сюжеты вымышлены и не призывают к действиям. При поддержке сайта <a href="#">ПОРНО 666</a></div>
				</div>
			</div>
		</div>
	</div>

	<div class="mobile-menu">
		<div class="menu-header">
			<div class="header-top">
				<a href="#" class="header-logo">
					<img src="images/logo.svg" alt="logo" width="140" height="36">
				</a>
				<button type="button" class="btn-close">
					<svg class="svg-icon"><use xlink:href="#close"></use></svg>
				</button>
			</div>
			<div class="header-tags drop">
				<a href="#" class="btn">Порно фильмы</a>
				<a href="#" class="btn">Волосатые</a>
				<a href="#" class="btn">Толстые</a>
				<a href="#" class="btn">Горячее порно</a>
				<a href="#" class="btn">Мамки</a>
				<a href="#" class="btn">Скрытая камера</a>
				<a href="#" class="btn">Инцест</a>
				<a href="#" class="btn">Зрелые</a>
				<a href="#" class="btn">Крупным планом</a>
				<a href="#" class="btn">Зрелые с молодыми</a>
				<a href="#" class="btn">Куколд и сексвайф</a>
				<a href="#" class="btn">Свингеры</a>
				<a href="#" class="btn">Пизда крупно</a>
				<a href="#" class="btn">Измена</a>
				<a href="#" class="btn">Пьяные</a>
				<a href="#" class="btn">В машине</a>
				<a href="#" class="btn">Большие сиськи</a>
				<a href="#" class="btn js-drop">
					<span class="text">Ещё</span>
					<svg class="svg-icon"><use xlink:href="#arrow-down"></use></svg>
				</a>
			</div>
		</div>
		<nav class="nav">
			<a href="#" class="nav-link active">
				<svg class="svg-icon"><use xlink:href="#nav-home"></use></svg>
				<span class="name">Главная</span>
			</a>
			<a href="#" class="nav-link">
				<svg class="svg-icon"><use xlink:href="#nav-new"></use></svg>
				<span class="name">Новое порно</span>
			</a>
			<a href="#" class="nav-link">
				<svg class="svg-icon"><use xlink:href="#nav-videos"></use></svg>
				<span class="name">Все видео</span>
			</a>
			<a href="#" class="nav-link">
				<svg class="svg-icon"><use xlink:href="#nav-categories"></use></svg>
				<span class="name">Категории</span>
			</a>
			<a href="#" class="nav-link">
				<svg class="svg-icon"><use xlink:href="#nav-models"></use></svg>
				<span class="name">Модели</span>
			</a>
			<a href="#" class="nav-link">
				<svg class="svg-icon"><use xlink:href="#nav-heart"></use></svg>
				<span class="name">Знакомства</span>
			</a>
		</nav>
		<div class="menu-footer">
			<div class="footer-inner">
				<a href="#" class="footer-logo">
					<img src="images/logo.svg" alt="logo" width="156" height="40">
				</a>
				<div class="footer-nav">
					<a href="#" class="footer-link">DMCA</a>
					<a href="#" class="footer-link">Обратная связь</a>
					<a href="#" class="footer-link">Порно</a>
				</div>
				<div class="copy">Находясь на сайте агрегатора РуХаб, вы подтверждаете, что вам 18+ лет и осознаёте то, что все модели в видео 18+ лет, снимаются добровольно, сюжеты вымышлены и не призывают к действиям. При поддержке сайта <a href="#">ПОРНО 666</a></div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="js/assets.js"></script>
	<script src="js/main.js"></script>
	{{> icons}}
</body>
</html>