<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{pageTitle}}</title>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="stylesheet" type="text/css" href="css/all.css" media="all">
</head>

<body>
	<div class="wrapper">
		<div class="container">
			<header class="header">
				<div class="header-top">
					<div class="menu-toggle">
						<div class="burger">
							<span class="line"></span>
							<span class="line"></span>
							<span class="line"></span>
						</div>
					</div>

					<a href="#" class="header-logo">
						<img src="images/logo.svg" alt="logo" width="203" height="52">
					</a>

					<button type="button" class="btn-search">
						<svg class="svg-icon"><use xlink:href='#search'/></svg>
					</button>

					<nav class="nav">
						<a href="#" class="nav-link active">
							<svg class="svg-icon"><use xlink:href='#nav-home'/></svg>
							<span class="name">Главная</span>
						</a>
						<a href="#" class="nav-link">
							<svg class="svg-icon"><use xlink:href='#nav-new'/></svg>
							<span class="name">Новое порно</span>
						</a>
						<a href="#" class="nav-link">
							<svg class="svg-icon"><use xlink:href='#nav-videos'/></svg>
							<span class="name">Все видео</span>
						</a>
						<a href="#" class="nav-link">
							<svg class="svg-icon"><use xlink:href='#nav-categories'/></svg>
							<span class="name">Категории</span>
						</a>
						<a href="#" class="nav-link">
							<svg class="svg-icon"><use xlink:href='#nav-models'/></svg>
							<span class="name">Модели</span>
						</a>
						<a href="#" class="nav-link">
							<svg class="svg-icon"><use xlink:href='#nav-heart'/></svg>
							<span class="name">Знакомства</span>
						</a>
					</nav>

					<div class="header-right">
						<form action="#" class="form">
							<div class="wrap-search">
								<input type="text" placeholder="Поиск" class="search-input">
								<button type="submit" class="search-submit">
									<svg class="svg-icon"><use xlink:href='#search'/></svg>
								</button>
							</div>
							<button type="button" class="btn-close">
								<svg class="svg-icon"><use xlink:href='#closes'/></svg>
							</button>
						</form>

						<!-- this block for registration -->
<!-- 						<div class="user-profile guest">
							<a href="#" class="btn">Вход</a>
							<a href="#" class="btn second">Регистрация</a>
						</div> -->

						<!-- this block for logged-in users -->
						<div class="user-profile drop">
							<button type="button" class="btn-search">
								<svg class="svg-icon"><use xlink:href='#search'/></svg>
							</button>

							<a href="#" class="js-drop">
								<div class="avatar">

									<!-- with avatar -->

									<img src="images/avatar.jpg" alt="Профиль" class="img">

									<!-- no-avatar -->

									<!-- <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
										<g clip-path="url(#clip0_368_10937)">
											<path d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z" stroke="#9C9C9C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M16 17.3333C18.2091 17.3333 20 15.5425 20 13.3333C20 11.1242 18.2091 9.33333 16 9.33333C13.7909 9.33333 12 11.1242 12 13.3333C12 15.5425 13.7909 17.3333 16 17.3333Z" stroke="#9C9C9C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M8.22461 25.132C8.55462 24.0336 9.2299 23.0709 10.1503 22.3866C11.0706 21.7024 12.1871 21.333 13.3339 21.3333H18.6673C19.8156 21.3329 20.9334 21.7032 21.8545 22.389C22.7755 23.0749 23.4506 24.0397 23.7793 25.14" stroke="#9C9C9C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</g>
									</svg> -->
								</div>
								<svg class="svg-icon arrow"><use xlink:href='#angle-down'/></svg>
							</a>

							<div class="drop-holder">
								<a href="#" class="link">
									<svg class="svg-icon"><use xlink:href='#chat-profile'/></svg>
									<span class="text">Профиль</span>
								</a>
								<a href="#" class="link">
									<svg class="svg-icon"><use xlink:href='#chat-message'/></svg>
									<span class="text">Сообщения</span>
									<span class="value">+16</span>
								</a>
								<a href="#" class="link">
									<svg class="svg-icon"><use xlink:href='#cat-subscribe'/></svg>
									<span class="text">Подписки</span>
									<span class="value">78</span>
								</a>
								<a href="#" class="link">
									<svg class="svg-icon"><use xlink:href='#chat-star'/></svg>
									<span class="text">Избранные видео</span>
									<span class="value">729</span>
								</a>
								<a href="#" class="link">
									<svg class="svg-icon"><use xlink:href='#vid-later'/></svg>
									<span class="text">Смотреть позже</span>
									<span class="value">28</span>
								</a>
								<a href="#" class="link">
									<svg class="svg-icon"><use xlink:href='#chat-history'/></svg>
									<span class="text">История просмотров</span>
								</a>
								<a href="#" class="link logout">
									<svg class="svg-icon"><use xlink:href='#prof-logout'/></svg>
									<span class="text">Выйти</span>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="header-tags">
					<a href="#" class="btn">Порно фильмы</a>
					<a href="#" class="btn">Волосатые</a>
					<a href="#" class="btn">Толстые</a>
					<a href="#" class="btn">Горячее порно</a>
					<a href="#" class="btn">Мамки</a>
					<a href="#" class="btn">Скрытая камера</a>
					<a href="#" class="btn">Инцест</a>
					<a href="#" class="btn">Спящие</a>
					<a href="#" class="btn">Зрелые</a>
					<a href="#" class="btn">Крупным планом</a>
					<a href="#" class="btn">Зрелые с молодыми</a>
					<a href="#" class="btn">Куколд и сексвайф</a>
					<a href="#" class="btn">Свингеры</a>
					<a href="#" class="btn">Пизда крупно</a>
					<a href="#" class="btn">Измена</a>
					<a href="#" class="btn">Пьяные</a>
					<a href="#" class="btn">В машине</a>
					<a href="#" class="btn">Большие сиськи</a>
				</div>
			</header>
		</div>
		<div class="main">
