<div class="index-banner section blur">
	<div class="left col">
		<div class="wrap-logo">
			<div class="subtitle">РУССКОЕ ПОРНО —</div>
			<div class="logo">RUHUB<span class="mark">.ME</span></div>
		</div>
	</div>
	<div class="right col">
		<div class="text">Этот сайт посвящён исключительно русскому сексу и только русскому порно, ведь русские девушки и девушки из стран СНГ (украинки, белоруски, казашки и др.) считаются одними из самых красивых во всём мире, на всех континентах.</div>
	</div>
</div>