<ul class="pagination">
	<li class="item-page prev">
		<a class="link sort-link" href="#">
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-left"></use></svg>
			</span>
			<span class="text">Назад</span>
		</a>
	</li>
	<li class="item-page active">
		<span class="link">1</span>
	</li>
	<li class="item-page">
		<a class="link" href="/2/">2</a>
	</li>
	<li class="item-page">
		<a class="link" href="/3/">3</a>
	</li>
	<li class="item-page">
		<a class="link" href="/4/">4</a>
	</li>
	<li class="item-page">
		<a class="link" href="/5/">5</a>
	</li>
	<li class="item-page">
		<a class="link" href="/6/">6</a>
	</li>
	<li class="item-page">
		<a class="link sort-link" href="#">
			<span class="text">Вперед</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-right"></use></svg>
			</span>
		</a>
	</li>
</ul>