<div class="sidebar-chat sidebar-community">
	<div class="nav-sidebar">
		<a href="#" class="link">
			<svg class="svg-icon"><use xlink:href="#chat-message"></use></svg>
			<span class="text">Сообщения</span>
		</a>
		<a href="#" class="link">
			<svg class="svg-icon"><use xlink:href="#chat-profile"></use></svg>
			<span class="text">Профиль</span>
		</a>
		<a href="#" class="link">
			<svg class="svg-icon"><use xlink:href="#chat-star"></use></svg>
			<span class="text">Избранное</span>
		</a>
		<a href="#" class="link">
			<svg class="svg-icon"><use xlink:href="#chat-video"></use></svg>
			<span class="text">Видео</span>
		</a>
		<a href="#" class="link">
			<svg class="svg-icon"><use xlink:href="#chat-history"></use></svg>
			<span class="text">История</span>
		</a>
	</div>
	<div class="users-items">
		<div class="wrap-search" bis_skin_checked="1">
			<svg class="svg-icon icon-user"><use xlink:href="#prof-friends"></use></svg>
			<input type="text" placeholder="Поиск по имени" class="search-input">
			<button type="submit" class="search-submit">
				<svg class="svg-icon"><use xlink:href="#search"></use></svg>
			</button>
		</div>
		<div class="scroll-box">
			<div class="item">
				<a href="#" class="link js-message">
					<div class="avatar online">
						<!-- <img src="images/avatar.jpg" alt="Профиль" class="img"> -->
						<svg class="svg-icon"><use xlink:href='#chat-profile'/></svg>
					</div>
					<div class="info-dialogues">
						<div class="name-data">
							<span class="name">Dina Dorofeeva</span>
							<div class="data-wrap">
								<div class="double-check"></div>
								<span class="data">06:27</span>
							</div>
						</div>
						<div class="label">
							<div class="text-message">Сегодня сьёмки, завтра буду на месте, можем решить на месте по факту. Целую =)</div>
							<span class="value">112</span>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="#" class="link js-message">
					<div class="avatar">
						<img src="images/avatar.jpg" alt="Профиль" class="img">
						<!-- <svg class="svg-icon"><use xlink:href='#chat-profile'/></svg> -->
					</div>
					<div class="info-dialogues">
						<div class="name-data">
							<span class="name">Barbara Milanovsky</span>
							<div class="data-wrap">
								<span class="data">Пн</span>
							</div>
						</div>
						<div class="label">
							<div class="text-message">Собаки у тебя нету случайно? Я бы ей ногу</div>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="#" class="link js-message">
					<div class="avatar online">
						<!-- <img src="images/avatar.jpg" alt="Профиль" class="img"> -->
						<svg class="svg-icon"><use xlink:href='#chat-profile'/></svg>
					</div>
					<div class="info-dialogues">
						<div class="name-data">
							<span class="name">Dina Dorofeeva</span>
							<div class="data-wrap">
								<span class="data">06:27</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="#" class="link js-message">
					<div class="avatar online">
						<!-- <img src="images/avatar.jpg" alt="Профиль" class="img"> -->
						<svg class="svg-icon"><use xlink:href='#chat-profile'/></svg>
					</div>
					<div class="info-dialogues">
						<div class="name-data">
							<span class="name">Dina Dorofeeva</span>
							<div class="data-wrap">
								<div class="double-check"></div>
								<span class="data">06:27</span>
							</div>
						</div>
						<div class="label">
							<div class="text-message">Сегодня сьёмки, завтра буду на месте, можем решить на месте по факту. Целую =)</div>
							<span class="value">1</span>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="#" class="link js-message">
					<div class="avatar">
						<img src="images/avatar.jpg" alt="Профиль" class="img">
						<!-- <svg class="svg-icon"><use xlink:href='#chat-profile'/></svg> -->
					</div>
					<div class="info-dialogues">
						<div class="name-data">
							<span class="name">Barbara Milanovsky</span>
							<div class="data-wrap">
								<span class="data">Пн</span>
							</div>
						</div>
						<div class="label">
							<div class="text-message">Собаки у тебя нету случайно? Я бы ей ногу</div>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="#" class="link js-message">
					<div class="avatar online">
						<!-- <img src="images/avatar.jpg" alt="Профиль" class="img"> -->
						<svg class="svg-icon"><use xlink:href='#chat-profile'/></svg>
					</div>
					<div class="info-dialogues">
						<div class="name-data">
							<span class="name">Dina Dorofeeva</span>
							<div class="data-wrap">
								<span class="data">06:27</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="#" class="link js-message">
					<div class="avatar online">
						<!-- <img src="images/avatar.jpg" alt="Профиль" class="img"> -->
						<svg class="svg-icon"><use xlink:href='#chat-profile'/></svg>
					</div>
					<div class="info-dialogues">
						<div class="name-data">
							<span class="name">Dina Dorofeeva</span>
							<div class="data-wrap">
								<div class="double-check"></div>
								<span class="data">06:27</span>
							</div>
						</div>
						<div class="label">
							<div class="text-message">Сегодня сьёмки, завтра буду на месте, можем решить на месте по факту. Целую =)</div>
							<span class="value">112</span>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="#" class="link js-message">
					<div class="avatar">
						<img src="images/avatar.jpg" alt="Профиль" class="img">
						<!-- <svg class="svg-icon"><use xlink:href='#chat-profile'/></svg> -->
					</div>
					<div class="info-dialogues">
						<div class="name-data">
							<span class="name">Barbara Milanovsky</span>
							<div class="data-wrap">
								<span class="data">Пн</span>
							</div>
						</div>
						<div class="label">
							<div class="text-message">Собаки у тебя нету случайно? Я бы ей ногу</div>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="#" class="link js-message">
					<div class="avatar online">
						<!-- <img src="images/avatar.jpg" alt="Профиль" class="img"> -->
						<svg class="svg-icon"><use xlink:href='#chat-profile'/></svg>
					</div>
					<div class="info-dialogues">
						<div class="name-data">
							<span class="name">Dina Dorofeeva</span>
							<div class="data-wrap">
								<span class="data">06:27</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="#" class="link js-message">
					<div class="avatar online">
						<!-- <img src="images/avatar.jpg" alt="Профиль" class="img"> -->
						<svg class="svg-icon"><use xlink:href='#chat-profile'/></svg>
					</div>
					<div class="info-dialogues">
						<div class="name-data">
							<span class="name">Dina Dorofeeva</span>
							<div class="data-wrap">
								<div class="double-check"></div>
								<span class="data">06:27</span>
							</div>
						</div>
						<div class="label">
							<div class="text-message">Сегодня сьёмки, завтра буду на месте, можем решить на месте по факту. Целую =)</div>
							<span class="value">1</span>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="#" class="link js-message">
					<div class="avatar">
						<img src="images/avatar.jpg" alt="Профиль" class="img">
						<!-- <svg class="svg-icon"><use xlink:href='#chat-profile'/></svg> -->
					</div>
					<div class="info-dialogues">
						<div class="name-data">
							<span class="name">Barbara Milanovsky</span>
							<div class="data-wrap">
								<span class="data">Пн</span>
							</div>
						</div>
						<div class="label">
							<div class="text-message">Собаки у тебя нету случайно? Я бы ей ногу</div>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="#" class="link js-message">
					<div class="avatar online">
						<!-- <img src="images/avatar.jpg" alt="Профиль" class="img"> -->
						<svg class="svg-icon"><use xlink:href='#chat-profile'/></svg>
					</div>
					<div class="info-dialogues">
						<div class="name-data">
							<span class="name">Dina Dorofeeva</span>
							<div class="data-wrap">
								<span class="data">06:27</span>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>