<div class="sidebar sidebar-categories drop">
	<div class="btn-cat js-drop">
		<div class="name">Популярные модели</div>
		<svg class="svg-icon"><use xlink:href='#arrow-down'/></svg>
	</div>

	<ul class="category-items">
		<li class="item">
			<a href="#" class="link">
				<span class="title">Brandi Love</span>
				<span class="wrap">
					<span class="quantity">89</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Ava Addams</span>
				<span class="wrap">
					<span class="quantity">923</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Renee Rose</span>
				<span class="wrap">
					<span class="quantity">16</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link active">
				<span class="title">Hannah Louu</span>
				<span class="wrap">
					<span class="quantity">245</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Abella Danger</span>
				<span class="wrap">
					<span class="quantity">21</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Brandi Love</span>
				<span class="wrap">
					<span class="quantity">89</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Ava Addams</span>
				<span class="wrap">
					<span class="quantity">923</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Renee Rose</span>
				<span class="wrap">
					<span class="quantity">16</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Hannah Louu</span>
				<span class="wrap">
					<span class="quantity">245</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Abella Danger</span>
				<span class="wrap">
					<span class="quantity">21</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Brandi Love</span>
				<span class="wrap">
					<span class="quantity">89</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Ava Addams</span>
				<span class="wrap">
					<span class="quantity">923</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Renee Rose</span>
				<span class="wrap">
					<span class="quantity">16</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Hannah Louu</span>
				<span class="wrap">
					<span class="quantity">245</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Abella Danger</span>
				<span class="wrap">
					<span class="quantity">21</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Brandi Love</span>
				<span class="wrap">
					<span class="quantity">89</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Ava Addams</span>
				<span class="wrap">
					<span class="quantity">923</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Renee Rose</span>
				<span class="wrap">
					<span class="quantity">16</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Hannah Louu</span>
				<span class="wrap">
					<span class="quantity">245</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
		<li class="item">
			<a href="#" class="link">
				<span class="title">Abella Danger</span>
				<span class="wrap">
					<span class="quantity">21</span>
					<svg class="svg-icon"><use xlink:href='#play'/></svg>
				</span>
			</a>
		</li>
	</ul>
</div>