<div class="sidebar user-sidebar">
	<div class="avatar">
		<!-- avatar -->

		<!-- <img src="images/avatar.jpg" alt="Профиль" class="img"> -->

		<!-- no-avatar -->

		<svg class="svg-icon"><use xlink:href='#chat-profile'/></svg>
	</div>

	<div class="name">Dina Dorofeeva</div>
	<div class="status online">В сети</div>
	<div class="buttons">
		<a href="#" class="btn">
			<svg class="svg-icon"><use xlink:href="#chat-message"></use></svg>
			<span class="text">Отправить сообщение</span>
		</a>
		<a href="#" class="btn">
			<svg class="svg-icon"><use xlink:href="#prof-friends-add"></use></svg>
			<span class="text">Добавить в друзья</span>
		</a>
	</div>

	<div class="drop-holder">
		<a href="#" class="link">
			<svg class="svg-icon"><use xlink:href="#prof-friends"></use></svg>
			<span class="text">Друзья</span>
			<span class="value">24</span>
		</a>
		<a href="#" class="link">
			<svg class="svg-icon"><use xlink:href="#cat-subscribe"></use></svg>
			<span class="text">Подписки</span>
			<span class="value">78</span>
		</a>
		<a href="#" class="link">
			<svg class="svg-icon"><use xlink:href="#chat-star"></use></svg>
			<span class="text">Избранные видео</span>
			<span class="value">729</span>
		</a>
	</div>

	<div class="row">
		<div class="title-name">Страна</div>
		<div class="text-row">
			<img src="images/flags/de.jpg" alt="de" class="img">
			<div class="flag-text">Германия</div>
		</div>
	</div>
	<div class="row">
		<div class="title-name">Город</div>
		<div class="text-row">Нью-Йорк</div>
	</div>
	<div class="row">
		<div class="title-name">Пол</div>
		<div class="text-row">Женский</div>
	</div>
	<div class="row">
		<div class="title-name">Семейное положение</div>
		<div class="text-row">В активном поиске партнёра</div>
	</div>
	<div class="row">
		<div class="title-name">Ориентация</div>
		<div class="text-row">Гетеро</div>
	</div>
	<div class="row">
		<div class="title-name">День рождения</div>
		<div class="text-row">12 ноября 1995 года</div>
	</div>
	<div class="row">
		<div class="title-name">О себе</div>
		<div class="text-row">Люблю накачанных парней с прессоб на животе и в кармане. Люблю когда делают мне куни, сосать писюны мужчкие и принимать молочко на лицо. Вобще я потаскуха ещё та, стучу по языку и сосу хуй так что пальчки на ногах заворачиваются.</div>
	</div>
	<a href="#" class="btn edit-link">
		<svg class="svg-icon"><use xlink:href="#prof-edit"></use></svg>
		<span class="text">Редактировать данные</span>
	</a>
</div>