<div class="thumbs">
	{{#repeat 6}}
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img.jpg" alt="img" class="img">
				<span class="duration">9:05</span>
			</span>
			<span class="title">Так скучала, что подрочила пилотку на камеру. Видео отчет для мужа</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-eye"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 день назад</span>
				</span>
			</span>
		</a>
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img-2.jpg" alt="img" class="img">
				<span class="duration">30:05</span>
			</span>
			<span class="title">Когда бросает одна пизда, появляется другая. Сестра успокаивает брата</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-eye"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 месяц назад</span>
				</span>
			</span>
		</a>
	{{/repeat}}
</div>