<div class="thumbs cols-7">
	{{#repeat 10}}
		<div class="thumb">
			<span class="box-img vertical">
				<a href="#" class="link">
					<img src="images/user-img.jpg" alt="img" class="img">
				</a>
			</span>

			<div class="box-info">
				<a href="#" class="link">
					<span class="name">Матвей Кочетков</span>
				</a>
				<div class="status online">В сети</div>
				<span class="thumb-info">
					<button type="button" class="btn btn-lg second">
						<svg class="svg-icon"><use xlink:href="#chat-message"></use></svg>
						<span class="text">Сообщение</span>
					</button>
					<button type="button" class="btn btn-sm">
						<svg class="svg-icon delete"><use xlink:href="#prof-delete"></use></svg>
					</button>
				</span>
			</div>
		</div>
		<div class="thumb">
			<span class="box-img vertical">
				<a href="#" class="link">
					<img src="images/user-img-2.jpg" alt="img" class="img">
				</a>
			</span>

			<div class="box-info">
				<a href="#" class="link">
					<span class="name">Маша 2 рубля</span>
				</a>
				<div class="status">Не в сети</div>
				<span class="thumb-info">
					<button type="button" class="btn btn-lg second">
						<svg class="svg-icon"><use xlink:href="#chat-message"></use></svg>
						<span class="text">Сообщение</span>
					</button>
					<button type="button" class="btn btn-sm">
						<svg class="svg-icon delete"><use xlink:href="#prof-delete"></use></svg>
					</button>
				</span>
			</div>
		</div>
	{{/repeat}}
	<div class="thumb">
		<span class="box-img vertical">
			<a href="#" class="link">
				<img src="images/user-img.jpg" alt="img" class="img">
			</a>
		</span>

		<div class="box-info">
			<a href="#" class="link">
				<span class="name">Матвей Кочетков</span>
			</a>
			<div class="status online">В сети</div>
			<span class="thumb-info">
				<button type="button" class="btn btn-lg second">
					<svg class="svg-icon"><use xlink:href="#chat-message"></use></svg>
					<span class="text">Сообщение</span>
				</button>
				<button type="button" class="btn btn-sm">
					<svg class="svg-icon delete"><use xlink:href="#prof-delete"></use></svg>
				</button>
			</span>
		</div>
	</div>
</div>
