<div class="thumbs cols-7">
	{{#repeat 10}}
		<div class="thumb">
			<span class="box-img vertical second">
				<a href="#" class="link">
					<img src="images/subscribe-img.jpg" alt="img" class="img">
				</a>
			</span>

			<div class="box-info">
				<a href="#" class="link">
					<span class="name">Desert X</span>
				</a>
				<span class="thumb-info">
					<button type="button" class="btn btn-lg">
						<svg class="svg-icon subscribe is-subscribe"><use xlink:href="#prof-unsubscribe"></use></svg>
						<span class="text">Вы подписаны</span>
					</button>
				</span>
			</div>
		</div>
		<div class="thumb">
			<span class="box-img vertical second">
				<a href="#" class="link">
					<img src="images/subscribe-img-2.jpg" alt="img" class="img">
				</a>
			</span>

			<div class="box-info">
				<a href="#" class="link">
					<span class="name">Red Louboutin</span>
				</a>
				<span class="thumb-info">
					<button type="button" class="btn btn-lg">
						<svg class="svg-icon"><use xlink:href="#cat-subscribe"></use></svg>
						<span class="text">Подписаться</span>
					</button>
				</span>
			</div>
		</div>
	{{/repeat}}
	<div class="thumb">
		<span class="box-img vertical second">
			<a href="#" class="link">
				<img src="images/subscribe-img.jpg" alt="img" class="img">
			</a>
		</span>

		<div class="box-info">
			<a href="#" class="link">
				<span class="name">Desert X</span>
			</a>
			<span class="thumb-info">
				<button type="button" class="btn btn-lg">
					<svg class="svg-icon subscribe is-subscribe"><use xlink:href="#prof-unsubscribe"></use></svg>
					<span class="text">Вы подписаны</span>
				</button>
			</span>
		</div>
	</div>
</div>
