<div class="comments-section__item js-comment-wrapper">
    <div class="comments-section__item-avatar">
        <img src="images/thumb-vertical-img-2.jpg" alt="avatar">
    </div>
    <div class="comments-section__item-info">
        <div class="comments-section__item-info-top">
            <span class="name">Алексей</span>
            <span class="date">12 часов назад</span>
        </div>
        <div class="comments-section__item-info-text">
            <p><span class="call-name">Bombey,</span> На хуе можно и попку подкачать, и калории сжечь, и спермы покушать. Не орган, а универсальный солдат, куда не всунь - одни плюсы. Этих аргументов хватило, чтобы сучка на него присела и получила кончину в киску.</p>
        </div>

        <div class="comments-section__item-info-actions">
            <div class="rating-container rating-holder">
                <a href="#like" class="rate-like like" data-video-id="69549" data-vote="5">
                    <svg class="icon like-icon active">
                        <use xlink:href="#vid-thumb-up"></use>
                    </svg>
                    <span class="quantity">
                        47
                    </span>
                </a>
                <a href="#dislike" class="rate-dislike dislike" data-video-id="69549" data-vote="0">
                    <svg class="icon like-icon">
                        <use xlink:href="#vid-thumb-down"></use>
                    </svg>
                    <span class="quantity">
                        7
                    </span>
                </a>
            </div>
            <button class="btn-comment js-comment">Ответить</button>
        </div>

        <div class="comments-section__item-info-comment js-comment-block">
            <div class="comment-block">
				<div class="textarea" contenteditable="true">
                    Комментарий
                </div>
				<div class="btns-block">
					<button class="btn cancel-btn js-cancel-btn">Отмена</button>
					<button class="btn comment-btn">
						<svg class="icon stroke">
							<use xlink:href="#vid-comment"></use>
						</svg>
						Комментировать
					</button>
				</div>
			</div>
        </div>
    </div>
</div>