// @import 'reset';
// @import 'media';
// @import 'global';
// @import 'icons';

// @import 'includes/plugins';

.headline {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 8px 8px 0px 0px;
	border-top: 1px solid #343538;
	border-right: 1px solid #343538;
	border-left: 1px solid #343538;
	background: linear-gradient(172deg, rgba(255, 163, 26, 0.3) 0%, rgba(26, 27, 31, 1) 23%);
	padding: 12px;


	.title-holder {
		font-size: 24px;
		font-weight: 700;
		text-shadow: 1px 0 currentColor;
		display: flex;
		align-items: center;

		@media(max-width: 640px){
			font-size: 22px;
		}

		@media(max-width: 480px){
			overflow: hidden;
		}

		.svg-icon {
			margin-right: 8px;
			font-size: 28px;
			fill: none;
			flex-shrink: 0;
			@media(max-width: 640px){
				font-size: 20px;
			}
		}

		@media(max-width: 480px){
			.title {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}


	}
	.sort-link {
		margin-left: 5px;
		display: flex;
		align-items: center;
		flex-shrink: 0;
		border-radius: 8px;
		background:  #35363A;
		padding: 8px 12px;
		transition: color .3s, background-color .3s;

		@media(hover: hover) and (pointer: fine){
			&:hover{
				background-color: #FFA31A;
				color: #fff;

				.icon {
					color: rgba(255,255,255,.7);
					border-color: rgba(255,255,255,.7);
					background-color: #FFA31A;
				}
			}
		}

		@media(max-width: 640px){
			padding: 4px 8px;
		}

		.icon {
			flex-shrink: 0;
			width: 25px;
			height: 25px;
			font-size: 18px;
			background-color: #68686B;
			border: 3px solid #424346;
			margin-left: 8px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #424346;
			transition: color .3s, border-color .3s, background-color .3s;
		}

		.mobile-hide {
			text-transform: capitalize;

			@media(max-width: 640px){
				display: none;
			}
		}

		.svg-icon {
			font-size: 12px;
    		transform: rotate(-90deg);
    		flex-shrink: 0;
		}

		.text {
			text-transform: lowercase;

			@media(max-width: 640px){
				text-transform: capitalize;
			}
		}
	}
}

.section {
	margin-bottom: 24px;
	&:last-child {
		margin-bottom: 0;
	}
}

.container .index-banner:first-child {
	margin-top: -12px;
}

.index-banner {
	background: #1b1b1b url("../images/index-banner-bg.png") -54%/contain no-repeat;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	border: 1px solid rgba(156, 156, 156, 0.20);
	padding: 10px 20px;

	@media(max-width: 768px) {
		flex-direction: column;
		padding: 20px;
		background: #1b1b1b url(../images/index-banner-bg.png) top / 100% 60% no-repeat;
	}

	&.blur {
		&:after {
			display: none;
		}
		&:before {
			left: auto;
			top: 50%;
			right: -2%;

			@media(max-width: 1200px){
				right: -15%;
			}
			@media(max-width: 768px){
				top: 60%;
			}
		}
	}

	.left {
		flex-shrink: 0;
		font-weight: 700;
		text-transform: uppercase;
		@media(max-width: 768px){
			margin-bottom: 40px;
		}
	}
	.col {
		width: 50%;	
		padding: 0 5px;

		@media(max-width: 768px){
			padding: 0;
			width: 100%;
		}
	}
	.subtitle {
		font-size: 24px;
		text-shadow: 1px 0 currentColor;
		letter-spacing: 1px;
		padding-left: 8px;

		@media(max-width: 1200px){
			padding-left: 5px;
		}
		@media(max-width: 1024px){
			padding-left: 2px;
			font-size: 18px;
    		margin-bottom: 5px;
		}
		@media(max-width: 390px){
			font-size: 16px;
		}
	}
	.logo {
		font-size: 138px;
		white-space: nowrap;
		letter-spacing: -2.8px;
		line-height: .8;
		text-shadow: 1px 0 currentColor, -1px 0 currentColor, 0 1px currentColor, 0 -1px currentColor, 1px 1px currentColor, -1px -1px currentColor, 1px -1px currentColor, -1px 1px currentColor;

		@media(max-width: 1500px){
			font-size: 110px;
		}
		@media(max-width: 1200px){
			font-size: 90px;
		}
		@media(max-width: 1024px){
			font-size: 66px;
		}
		@media(max-width: 390px){
			font-size: 55px;
		}
	}
	.logo .mark {
		color: #FFA31A;
		display: inline-block;
	}
	.right {
		font-size: 18px;
		line-height: 1.5;
		color: #8B8B8B;
		position: relative;

		@media(max-width: 1200px){
			line-height: 1.4;
			font-size: 16px;
		}
		@media(max-width: 1024px){
			font-size: 15px;
		}
		.text {
			max-width: 728px;

			@media(max-width: 768px){
				text-align: center;
			}
		}
	}
	.wrap-logo {
		max-width: 712px;
		margin: 0 auto;
		transform: rotate(-5deg);
		will-change: transform;
		top: -10px;
		position: relative;

		@media(max-width: 1500px){
			max-width: 540px;
		}
		@media(max-width: 1200px){
			top: 5px;
		}
		@media(max-width: 1024px){
			max-width: 320px;
		}
		@media(max-width: 390px){
			max-width: 260px;
		}
	}
}

.thumbs {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px -25px 0;

	@media(max-width: 768px){
		margin: 0 -10px -18px 0;
	}
}

.thumb {
	display: block;
	margin: 0 20px 25px 0;
	width: calc(25% - 20px);

	@media(hover: hover) and (pointer: fine){
		&:hover{
			.title {
				color: #FFA31A;
			}
		}
	}

	@media(max-width: 1024px){
		width: calc(33.333% - 20px);
	}
	@media(max-width: 768px){
		width: calc(33.333% - 10px);
		margin: 0 10px 18px 0;
	}
	@media(max-width: 640px){
		width: calc(50% - 10px);
	}
	@media(max-width: 640px){
		width: calc(50% - 10px);
	}
	@media(max-width: 480px){
		width: calc(100% - 10px);
	}

	.title {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		margin-bottom: 5px;
		transition: color .3s;
	}
	.box-img {
		position: relative;
		display: block;
		overflow: hidden;
		padding-bottom: 57%;
		border-radius: 8px;
		margin-bottom: 12px;
		.img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.duration {
			border-radius: 8px;
			border: 1px solid rgba(255, 255, 255, 0.10);
			background: rgba(0, 0, 0, 0.70);
			position: absolute;
			right: 8px;
			bottom: 8px;
			font-size: 14px;
			padding: 4px 8px;
		}
	}
}

.thumb-info {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #8B8B8B;
	.item-info {
		display: flex;
		align-items: center;
		margin-right: 12px;
		&:last-child {
			margin-right: 0;
		}
		.svg-icon {
			flex-shrink: 0;
			margin-right: 4px;
		}
	}
}