.video-holder {
    .player {
        margin-bottom: 12px;

        &-holder {
            max-height: 650px;
            border-radius: 8px;
            background: #000;
            display: flex;
            justify-content: center;
            align-items: center;

            .kt-player {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;

                .play-btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 124px;
                    height: 124px;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, 0.7);
                    z-index: 1;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        margin-left: 5px;
                        width: 51px;
                        height: 58px;
                    }

                    @media screen and (max-width: 1023px) {
                        width: 90px;
                        height: 90px;

                        img {
                            width: 45px;
                            height: 45px;
                        }
                    }

                    @media screen and (max-width: 768px) {
                        width: 60px;
                        height: 60px;

                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }

        &-wrap {
            width: 100%;
            height: 100%;
            
        }
    }
}

.video-title {
    &-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 12px;
        &__left {
            max-width: calc(100% - 480px);
            
            h1 {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            @media screen and (max-width: 1023px) {
                max-width: initial;
                width: 100%;

                h1 {
                    margin-bottom: 12px;
                }
            }
        }
        &__right {
            display: flex;
            align-items: center;
            gap: 12px;

            @media screen and (max-width: 1023px) {
                width: 100%;
                flex-wrap: wrap;
            }
        }

        .btns-block {
            display: flex;
            align-items: center;
            gap: 12px;

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                font-size: 14px;
                color: #fff;
                border-radius: 8px;
                background: #35363A;
                font-family: "Segoe UI";
                font-weight: 600;
                letter-spacing: -0.28px;

                @media screen and (max-width: 1023px) {
                    padding: 5px 5px;
                }
            }
        }

        .download-holder {
            position: relative;

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                font-size: 14px;
                color: #fff;
                border-radius: 8px;
                background: #35363A;
                font-family: "Segoe UI";
                font-weight: 600;
                letter-spacing: -0.28px;
                padding: 8px 12px;

                .angle-down {
                    fill: #8B8B8B;
                    width: 10px;
                    height: 5px;
                    transition: all .3s ease;
                }

                @media screen and (max-width: 1023px) {
                    padding: 5px 5px;
                }
            }

            .drop-holder {
                transform: translate3d(0, 1px, 0);
                border-radius: 8px;
                padding: 0;
                background: #35363A;
                border: none;

                .item-sort {
                    .link-drop {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 5px;
                        padding: 9px;
                        color: #FFF;
                        font-family: "Segoe UI";
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: -0.28px;
                    }

                    &:not(:last-child) {
                        .link-drop {
                            border-bottom: 1px solid rgba(156, 156, 156, .2);
                        }
                    }

                    .label {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        vertical-align: middle;
                        margin-bottom: 0;
                        text-align: center;
                        padding: 3px 4px 0 4px;
                        border-radius: 4px;
                        background: #535252;
                        color: #FFF;
                        font-family: "Aldrich";
                        font-size: 12px;
                        font-weight: 400;
                        letter-spacing: -0.24px;
                    }

                    .size {
                        color: #7A7A7A;
                        font-family: "Segoe UI";
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: -0.28px;
                    }
                }
            }

            &.open-sort {
                .drop-holder {
                    opacity: 1;
                    visibility: visible;
                }

                .btn {
                    .angle-down {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .icon {
            width: 20px;
            height: 20px;
            &.stroke {
                stroke: #fff;
                fill: none;
            }

            &.fill {
                fill: #fff;
                stroke: none;
            }
        }
    }
}

.video-info {
    max-width: 1000px;

    .buttons-holder {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 12px;
    }

    .rating-info {
        display: flex;
        align-items: center;
        gap: 48px;

        @media screen and (max-width: 1023px) {
            flex-wrap: wrap;
            gap: 12px;
        }
    }

    .rating-container {
        display: flex;
        align-items: center;
        border-radius: 8px;
        background: #35363A;

        a {
            padding: 8px 12px;
            display: flex;
            align-items: center;
            gap: 5px;
            color: #FFF;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -0.28px;
            .icon {
                width: 24px;
                height: 24px;
            }
        }

        .rate-separator {
            width: 1px;
            height: 24px;
            background: rgba(156, 156, 156, 0.50);
        }
    }

    .info {
        display: flex;
        align-items: center;
        gap: 12px;

        .item {
            color: #8B8B8B;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -0.28px;
            .icon {
                width: 12px;
                height: 12px;

                &.eye-icon {
                    width: 16px;
                    height: 12px;
                }
            }
        }
    }

    .tags-block {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 12px;

        .tag {
            display: inline-flex;
            height: 32px;
            padding: 12px 7px 12px 12px;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border-radius: 8px;
            border: 1px solid #35363A;
            color: #FFF;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: -0.24px;

            .icon {
                width: 18px;
                height: 18px;
            }
        }
    }

    .models-block {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 12px;

        .model {
            display: inline-flex;
            height: 32px;
            padding: 12px 7px 12px 12px;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border-radius: 8px;
            border: 1px solid #35363A;
            color: #FFF;
            font-family: "Segoe UI";
            font-size: 12px;
            font-weight: 600;
            letter-spacing: -0.24px;

            .icon {
                width: 18px;
                height: 18px;
                fill: #fff;
                stroke: none;
            }
        }
    }

    .info-block {
        margin-bottom: 29px;
        .description {
            font-weight: 400;
        }
    }
}

.video-details {
    margin-bottom: 36px;
    background-color: #272727;
    padding: 20px;
    border-radius: 8px;

    .rating-container {
        .like-icon {
            width: 24px;
            height: 21px;
            fill: none;
            stroke: #fff;

            &.active {
                fill: #fff;
            }
        }
    }
}

.wrap-comments {
    .comment-block {  
        margin-bottom: 12px;

        .btns-block {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 12px;
        }

        .btn {
            display: flex;
            height: 36px;
            padding: 8px 12px;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border-radius: 8px;
            color: #FFF;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.28px;
            border-radius: 8px;

            &.cancel-btn {
                border: 1px solid #35363A;
            }

            &.comment-btn {
                background: #35363A;

                .icon {
                    width: 13px;
                    height: 12px;
                }
            }
        }
    }

    .textarea {
        display: flex;
        width: 100%;
        height: 112px;
        padding: 12px;
        resize: none;
        align-items: flex-start;
        margin-bottom: 8px;
        gap: 10px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid rgba(156, 156, 156, 0.20);
        background: #26272C;
        color: #8B8B8B;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.32px;
    }
}

.comments-section {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 36px;

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        margin-bottom: 12px;

        &-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            flex-shrink: 0;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 4px;

            &-top {
                display: flex;
                align-items: center;
                gap: 4px;

                .name {
                    color: #FFF;
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: -0.3px;
                }

                .date {
                    color: #8B8B8B;
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: -0.24px;
                }
            }

            &-text {
                p {
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: -0.32px;
                }

                .call-name {
                    display: inline-flex;
                    padding: 2px 4px 4px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 4px;
                    background: #37383F;
                    color: #8B8B8B;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: -0.32px;
                }
            }

            &-actions {
                display: flex;
                align-items: center;
                gap: 12px;

                .btn-comment {
                    padding: 8px 12px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: #8B8B8B;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: -0.28px;
                    .icon {
                        width: 24px;
                        height: 24px;
                    }

                    @media screen and (min-width: 1024px) {
                        &:hover {
                            border-radius: 8px;
                            background: rgba(114, 105, 105, 0.20);
                        }
                    }
                }
            }

            .rating-container {
                display: flex;
                align-items: center;
                gap: 12px;

                a {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: -0.28px;
                    .icon {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            &-replies {
                margin-bottom: 12px;
            }

            &-comment {
                display: none;
            }
        }

        &-replies {
            display: none;
        }

        &-replies-more {
            display: none;
        }

        &.active {
            .comments-section__item-info-comment {
                display: block;
            }
        }

        &.open-replies {
            .comments-section__item-replies {
                display: block;
            }
        }

        &.more-replies {
            .js-more-reply {
                display: none;
            }

            .comments-section__item-replies-more {
                display: block;
            }
        }
    }

    .btn-reply {
        padding: 8px 12px;
        display: flex;
        align-items: center;
        gap: 5px;
        color: #3C95FF;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.28px;

        .icon {
            fill: #3C95FF;
            width: 12px;
            height: 7px;
        }

        @media screen and (min-width: 1024px) {
            &:hover {
                border-radius: 8px;
                background: rgba(114, 105, 105, 0.20);
            }
        }
    }

    .btn-more-replies {
        padding: 8px 12px;
        display: flex;
        align-items: center;
        gap: 5px;
        color: #3C95FF;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: -0.28px;

        .icon {
            fill: #3C95FF;
            width: 11px;
            height: 11px;
        }

        @media screen and (min-width: 1024px) {
            &:hover {
                border-radius: 8px;
                background: rgba(114, 105, 105, 0.20);
            }
        }
    }

    .btns-block {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
    }

    .btn {
        display: flex;
        height: 36px;
        padding: 8px 12px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 8px;
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.28px;
        border-radius: 8px;

        &.cancel-btn {
            border: 1px solid #35363A;
        }

        &.comment-btn {
            background: #35363A;

            .icon {
                width: 13px;
                height: 12px;
            }
        }
    }

    .textarea {
        display: flex;
        width: 100%;
        height: 112px;
        padding: 12px;
        resize: none;
        align-items: flex-start;
        margin-bottom: 8px;
        gap: 10px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid rgba(156, 156, 156, 0.20);
        background: #26272C;
        color: #8B8B8B;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.32px;
    }

    .rating-container {
        .like-icon {
            width: 24px;
            height: 21px;
            fill: none;
            stroke: #fff;

            &.active {
                fill: #fff;
            }
        }
    }
}
