// settings main
$body_color:#fff;
$body_bg:#1A1B1F;
$placeholder_color:#8B8B8B;
$selection_bg:#2600ff;
$selection_color:#fff;
$site_font_weight:600;
$site_font_size:16px;
$site_line_height:1.2;
$default_font: 'Segoe UI', sans-serif;
$link_color:#fff;
$link_hover_color:#fff;