{{> header pageTitle="Categories"}}

<div class="section">
	<div class="headline second">
		<div class="title-holder">
			<h2 class="title">Популярные категории</h2>
		</div>
	</div>

	{{> categories-thumbs-cols-5-rows-4}}

	<div class="link-all show-more">
		<a href="#" class="sort-link">
			<span class="text">Показать больше</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-down"></use></svg>
			</span>
		</a>
	</div>
</div>

<div class="section">
	<div class="headline second">
		<div class="title-holder">
			<svg class="svg-icon"><use xlink:href='#video-camera'/></svg>
			<h2 class="title">Производство</h2>
		</div>
	</div>

	{{> categories-thumbs-cols-5}}

	<div class="link-all show-more">
		<a href="#" class="sort-link">
			<span class="text">Показать больше</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-down"></use></svg>
			</span>
		</a>
	</div>
</div>

<div class="section">
	<div class="headline second">
		<div class="title-holder">
			<svg class="svg-icon"><use xlink:href='#poses'/></svg>
			<h2 class="title">Действие</h2>
		</div>
	</div>

	{{> categories-thumbs-cols-5}}

	<div class="link-all show-more">
		<a href="#" class="sort-link">
			<span class="text">Показать больше</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-down"></use></svg>
			</span>
		</a>
	</div>
</div>

<div class="section">
	<div class="headline second">
		<div class="title-holder">
			<svg class="svg-icon"><use xlink:href='#handcuffs'/></svg>
			<h2 class="title">Фетиш</h2>
		</div>
	</div>

	{{> categories-thumbs-cols-5}}

	<div class="link-all show-more">
		<a href="#" class="sort-link">
			<span class="text">Показать больше</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-down"></use></svg>
			</span>
		</a>
	</div>
</div>

{{> footer}}