{{> header pageTitle="Chat" chatClass="chat-wrapper"}}

<div class="dialogues-holder">

	{{> sidebar-chat}}

	<div class="dialogue-holder">
	    <div class="block">
	        <div class="header-dialogue">
	            <div class="col-left">
					<div class="mobile-box">
						<a href="#" class="js-back">
							<svg class="svg-icon"><use xlink:href='#arrow-left'/></svg>
						</a>
						<div class="value">168</div>
					</div>
	                <div class="avatar">
	                    <!-- avatar -->

						<!-- <img src="images/avatar.jpg" alt="Профиль" class="img"> -->

						<!-- no-avatar -->

						<svg class="svg-icon"><use xlink:href='#chat-profile'/></svg>
	                </div>
	                <div class="name-box">
	                    <a href="#" class="name">Dina Dorofeeva</a>
	                    <div class="status online">В сети</div>
	                </div>
	            </div>
	           <div class="drop">
					<div class="menu-icon js-drop">
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
					</div>
					<div class="drop-holder">
						<a href="#" class="link">
							<svg class="svg-icon"><use xlink:href='#chat-profile'/></svg>
							<span>Смотреть профиль</span>
						</a>
						<a href="#" class="link">
							<svg class="svg-icon"><use xlink:href='#reg-lock'/></svg>
							<span>Заблокировать</span>
						</a>
					</div>
				</div>
			</div>

			<div class="is-dialogue">
				<div class="dialogue">
					<div class="block-message scroll-box"></div>
				</div>
			</div>

	        <div class="dialogue-empty">
	            <div class="empty-chat">
					<div class="container">
						<div class="empty-icon">
							<svg class="svg-icon"><use xlink:href='#chat-big'/></svg>
						</div>

						<div class="empty-text">
							<p class="text-name">Здесь пока нет сообщений.</p>
							<p class="text-name">Напишите первый чтоб начать диалог, возможно это ваша судьба потрахаться:)</p>
						</div>
						
					</div>
				</div>
	        </div>
	    </div>

	    <div class="message-form">
	        <form method="post" class="form">
	            <div class="textarea-holder">
	                <textarea class="textfield" placeholder="Написать сообщение"></textarea>

					<label class="clip-wrap" for="file-upload">
						<svg class="svg-icon"><use xlink:href='#clip'/></svg>
						<input type="file" id="file-upload" />
					</label>

					<button type="button" class="btn-smile">
						<svg class="svg-icon"><use xlink:href='#smile'/></svg>
					</button>

					<div class="smileys-bar">
						<img src="https://www.kvs-demo.com/static/images/emoticons/smile.png" alt=":)" title=":)" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/cool.png" alt="8-)" title="8-)" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/cwy.png" alt=";(" title=";(" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/grin.png" alt=":D" title=":D" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/sad.png" alt=":(" title=":(" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/shocked.png" alt=":O" title=":O" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/tongue.png" alt=":P" title=":P" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/wink.png" alt=";)" title=";)" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/heart.png" alt=":heart:" title=":heart:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/ermm.png" alt=":ermm:" title=":ermm:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/angel.png" alt=":angel:" title=":angel:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/angry.png" alt=":angry:" title=":angry:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/alien.png" alt=":alien:" title=":alien:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/blink.png" alt=":blink:" title=":blink:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/blush.png" alt=":blush:" title=":blush:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/cheerful.png" alt=":cheerful:" title=":cheerful:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/devil.png" alt=":devil:" title=":devil:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/dizzy.png" alt=":dizzy:" title=":dizzy:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/getlost.png" alt=":getlost:" title=":getlost:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/happy.png" alt=":happy:" title=":happy:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/kissing.png" alt=":kissing:" title=":kissing:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/ninja.png" alt=":ninja:" title=":ninja:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/pinch.png" alt=":pinch:" title=":pinch:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/pouty.png" alt=":pouty:" title=":pouty:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/sick.png" alt=":sick:" title=":sick:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/sideways.png" alt=":sideways:" title=":sideways:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/silly.png" alt=":silly:" title=":silly:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/sleeping.png" alt=":sleeping:" title=":sleeping:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/unsure.png" alt=":unsure:" title=":unsure:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/w00t.png" alt=":woot:" title=":woot:" />
						<img src="https://www.kvs-demo.com/static/images/emoticons/wassat.png" alt=":wassat:" title=":wassat:" />
					</div>
	            </div>

				<button type="submit" class="submit">
					<svg class="svg-icon"><use xlink:href='#send'/></svg>
				</button>
			</form>
		</div>
	</div>

</div>

{{> footer}}