{{> header pageTitle="Chat" chatClass="chat-wrapper"}}

<div class="empty-chat">
	<div class="container">
		<div class="empty-icon">
			<svg class="svg-icon"><use xlink:href='#chat-big'/></svg>
		</div>

		<div class="empty-text">
			<p class="text-name">Нет диалогов.</p>
			<p class="text-name">Напиши уже кому-то!</p>
		</div>

		<a href="#" class="btn">
			<svg class="svg-icon"><use xlink:href='#nav-heart'/></svg>
			<span class="text">Найти собеседника</span>
		</a>
	</div>
</div>

{{> footer}}