{{> header pageTitle="Index"}}

{{> index-banner}}

<div class="section">
	<div class="headline">
		<div class="title-holder">
			<svg class="svg-icon"><use xlink:href='#cat-video-icon'/></svg>
			<h2 class="title">Рекомендуемые видео</h2>
		</div>
		<a href="#" class="sort-link">
			<span class="text">
				<span class="mobile-hide">Смотреть </span>Все
			</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#angle-down"></use></svg>
			</span>
		</a>
	</div>

	<div class="thumbs">
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img.jpg" alt="img" class="img">
				<span class="duration">9:05</span>
			</span>
			<span class="title">Так скучала, что подрочила пилотку на камеру. Видео отчет для мужа</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#reg-eye-show"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 день назад</span>
				</span>
			</span>
		</a>
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img-2.jpg" alt="img" class="img">
				<span class="duration">30:05</span>
			</span>
			<span class="title">Когда бросает одна пизда, появляется другая. Сестра успокаивает брата</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#reg-eye-show"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 месяц назад</span>
				</span>
			</span>
		</a>
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img.jpg" alt="img" class="img">
				<span class="duration">30:05</span>
			</span>
			<span class="title">Когда бросает одна пизда, появляется другая. Сестра успокаивает брата</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#reg-eye-show"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 месяц назад</span>
				</span>
			</span>
		</a>
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img-2.jpg" alt="img" class="img">
				<span class="duration">30:05</span>
			</span>
			<span class="title">Когда бросает одна пизда, появляется другая. Сестра успокаивает брата</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#reg-eye-show"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 месяц назад</span>
				</span>
			</span>
		</a>
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img.jpg" alt="img" class="img">
				<span class="duration">9:05</span>
			</span>
			<span class="title">Так скучала, что подрочила пилотку на камеру. Видео отчет для мужа</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#reg-eye-show"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 день назад</span>
				</span>
			</span>
		</a>
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img-2.jpg" alt="img" class="img">
				<span class="duration">30:05</span>
			</span>
			<span class="title">Когда бросает одна пизда, появляется другая. Сестра успокаивает брата</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#reg-eye-show"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 месяц назад</span>
				</span>
			</span>
		</a>
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img.jpg" alt="img" class="img">
				<span class="duration">30:05</span>
			</span>
			<span class="title">Когда бросает одна пизда, появляется другая. Сестра успокаивает брата</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#reg-eye-show"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 месяц назад</span>
				</span>
			</span>
		</a>
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img-2.jpg" alt="img" class="img">
				<span class="duration">30:05</span>
			</span>
			<span class="title">Когда бросает одна пизда, появляется другая. Сестра успокаивает брата</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#reg-eye-show"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 месяц назад</span>
				</span>
			</span>
		</a>
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img.jpg" alt="img" class="img">
				<span class="duration">9:05</span>
			</span>
			<span class="title">Так скучала, что подрочила пилотку на камеру. Видео отчет для мужа</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#reg-eye-show"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 день назад</span>
				</span>
			</span>
		</a>
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img-2.jpg" alt="img" class="img">
				<span class="duration">30:05</span>
			</span>
			<span class="title">Когда бросает одна пизда, появляется другая. Сестра успокаивает брата</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#reg-eye-show"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 месяц назад</span>
				</span>
			</span>
		</a>
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img.jpg" alt="img" class="img">
				<span class="duration">30:05</span>
			</span>
			<span class="title">Когда бросает одна пизда, появляется другая. Сестра успокаивает брата</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#reg-eye-show"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 месяц назад</span>
				</span>
			</span>
		</a>
		<a href="#" class="thumb">
			<span class="box-img">
				<img src="images/thumb-img-2.jpg" alt="img" class="img">
				<span class="duration">30:05</span>
			</span>
			<span class="title">Когда бросает одна пизда, появляется другая. Сестра успокаивает брата</span>
			<span class="thumb-info">
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#reg-eye-show"></use></svg>
					<span class="text">3,205</span>
				</span>
				<span class="item-info">
					<svg class="svg-icon"><use xlink:href="#cat-calendar"></use></svg>
					<span class="text">1 месяц назад</span>
				</span>
			</span>
		</a>
	</div>
</div>

{{> index-banner}}

{{> footer}}