{{> header pageTitle="Index"}}

{{> index-banner}}

<div class="section">
	<div class="headline second">
		<div class="title-holder">
			<h2 class="title">Популярные категории</h2>
		</div>
	</div>

	{{> categories-thumbs-cols-8}}

	<div class="link-all">
		<a href="#" class="sort-link">
			<span class="text">Все порно категории</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-right"></use></svg>
			</span>
		</a>
	</div>
</div>

<div class="section">
	<div class="headline">
		<div class="title-holder">
			<svg class="svg-icon"><use xlink:href='#cat-video-icon'/></svg>
			<h2 class="title">Рекомендуемые видео</h2>
		</div>
		<a href="#" class="sort-link">
			<span class="text">
				<span class="mobile-hide">Смотреть </span>Все
			</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-right"></use></svg>
			</span>
		</a>
	</div>

	{{> thumbs-cols-4}}

	<div class="link-all show-more">
		<a href="#" class="sort-link">
			<span class="text">Показать ещё</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-down"></use></svg>
			</span>
		</a>
	</div>
</div>

<div class="section">
	<div class="headline">
		<div class="title-holder">
			<svg class="svg-icon"><use xlink:href='#nav-new'/></svg>
			<h2 class="title">Новые порно видео</h2>
		</div>
		<a href="#" class="sort-link">
			<span class="text">
				<span class="mobile-hide">Смотреть </span>Все
			</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-right"></use></svg>
			</span>
		</a>
	</div>

	{{> thumbs-cols-4}}

	<div class="link-all">
		<a href="#" class="sort-link">
			<span class="text">Смотреть все новое порно</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-right"></use></svg>
			</span>
		</a>
	</div>
</div>

<div class="section">
	<div class="headline">
		<div class="title-holder">
			<svg class="svg-icon"><use xlink:href='#cat-fire'/></svg>
			<h2 class="title">Горячее русское порно</h2>
		</div>
		<a href="#" class="sort-link">
			<span class="text">
				<span class="mobile-hide">Смотреть </span>Все
			</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-right"></use></svg>
			</span>
		</a>
	</div>

	{{> thumbs-cols-4}}

	<div class="link-all">
		<a href="#" class="sort-link">
			<span class="text">Смотреть всё горячее русское порно</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-right"></use></svg>
			</span>
		</a>
	</div>
</div>

<div class="section">
	<div class="headline">
		<div class="title-holder">
			<svg class="svg-icon"><use xlink:href='#cat-thumb-up'/></svg>
			<h2 class="title">Лучшее порно за сегодня</h2>
		</div>
		<a href="#" class="sort-link">
			<span class="text">
				<span class="mobile-hide">Смотреть </span>Все
			</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-right"></use></svg>
			</span>
		</a>
	</div>

	{{> thumbs-cols-4}}

	<div class="link-all">
		<a href="#" class="sort-link">
			<span class="text">Смотреть всё лучшее порно за сегодня</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-right"></use></svg>
			</span>
		</a>
	</div>
</div>

<div class="section">
	<div class="headline">
		<div class="title-holder">
			<svg class="svg-icon"><use xlink:href='#cat-star'/></svg>
			<h2 class="title">Топ порно видео по просмотрам</h2>
		</div>
		<a href="#" class="sort-link">
			<span class="text">
				<span class="mobile-hide">Смотреть </span>Все
			</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-right"></use></svg>
			</span>
		</a>
	</div>

	{{> thumbs-cols-4}}

	<div class="link-all">
		<a href="#" class="sort-link">
			<span class="text">Смотреть все топ порно видео по просмотрам</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-right"></use></svg>
			</span>
		</a>
	</div>
</div>

{{> index-banner}}

{{> footer}}