{{> header pageTitle="Index" bodyClass="fancybox-lock"}}

{{> index-banner}}

<div class="section">
	<div class="headline second">
		<div class="title-holder">
			<h2 class="title">Популярные категории</h2>
		</div>
	</div>

	{{> categories-thumbs-cols-8}}

	<div class="link-all">
		<a href="#" class="sort-link">
			<span class="text">Все порно категории</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-right"></use></svg>
			</span>
		</a>
	</div>
</div>

{{> index-banner}}

{{> footer}}

<div class="popup-wrap">
	<div class="columns">
		<div class="column left-col">
			<div class="row">
				<a href="#" class="logo">
					<img src="images/logo.svg" alt="logo" width="372" height="95">
				</a>
			</div>
			<div class="row">
				<div class="text-popup">
					<div class="box">Ни для кого не секрет, что в России самое популярное порно - это русское порно. И потому мы стараемся размещать только лучший контент, только новые или только отборные русские видео.</div>
					<div class="box">У нас русские парни и девушки обмениваются контактами и рождают самые нежные отношения и супружеские союзы, в обсуждениях под жёстким порно видео. РУХАБ делает секс и сношения в стране извращёнными, приятными и является основной причиной вопроса "Я точно у тебя первая?"</div>
				</div>
			</div>
			<div class="row">
				<ul class="list-popup">
					<li class="item">
						<svg class="svg-icon"><use xlink:href="#reg-pros-1"></use></svg>
						<div class="text">Сохранить видео в избранные</div>
					</li>
					<li class="item">
						<svg class="svg-icon"><use xlink:href="#reg-pros-2"></use></svg>
						<div class="text">Зарезервировать имя в комментах</div>
					</li>
					<li class="item">
						<svg class="svg-icon"><use xlink:href="#reg-pros-3"></use></svg>
						<div class="text">Загружать свои видео нельзя</div>
					</li>
					<li class="item">
						<svg class="svg-icon"><use xlink:href="#reg-pros-4"></use></svg>
						<div class="text">Спам-фильтры работают также строго</div>
					</li>
					<li class="item">
						<svg class="svg-icon"><use xlink:href="#reg-pros-5"></use></svg>
						<div class="text">Пароли необратимо зашифрованы</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="column right-col">
			<div class="popup-block">
				<form action="#" class="form">
					<div class="title-popup">ВХОД</div>
					<div class="box-wrap">
						<div class="wrap-input">
							<svg class="svg-icon"><use xlink:href="#chat-profile"></use></svg>
							<input type="text" class="textfield" placeholder="Введите ваш логин">
						</div>
						<div class="wrap-input">
							<svg class="svg-icon"><use xlink:href="#reg-lock"></use></svg>
							<input type="password" class="textfield password" name="password" placeholder="Введите пароль">
							<svg class="svg-icon toggle-password"><use xlink:href="#reg-eye-hide"></use></svg>
							<div class="error-message">Пароль слишком короткий</div>
						</div>
						<div class="wrap-input">
							<button type="submit" class="btn btn-submit">Войти</button>
						</div>
					</div>
					<div class="box-wrap">
						<div class="links">
							<a href="#" class="link">Регистрация</a>
							<div class="separator"></div>
							<a href="#" class="link">Забыли пароль</a>
						</div>
					</div>
					<div class="box-wrap">
						<div class="popup-footer">Находясь на сайте агрегатора РуХаб, вы подтверждаете, что вам 18+ лет и осознаёте то, что все модели в видео 18+ лет, снимаются добровольно, сюжеты вымышлены и не призывают к действиям. При поддержке сайта <a href="#">ПОРНО 666</a></div>
					</div>
				</form>
			</div>
			<button type="button" class="btn-close">
				<svg class="svg-icon"><use xlink:href="#close"></use></svg>
			</button>
		</div>
	</div>
</div>