{{> header pageTitle="Model videos"}}

<div class="section">
	<div class="headline second cols-4">
		<div class="title-holder">
			<h2 class="title">Новые порно видео с Flaming Foxy</h2>
		</div>

		<div class="headline-btns">
			<a href="#" class="btn link-subscribe">
				<svg class="svg-icon subscribe"><use xlink:href="#prof-subsrcription"></use></svg>
				<span class="name">Подписаться</span>
				<span class="separator"></span>
				<svg class="svg-icon"><use xlink:href="#icon-user"></use></svg>
				<span class="text">155</span>
			</a>
			<a href="#" class="btn active">
				<svg class="svg-icon"><use xlink:href="#cat-new"></use></svg>
				<span class="text">Новые</span>
			</a>
			<a href="#" class="btn">
				<svg class="svg-icon"><use xlink:href="#cat-eye"></use></svg>
				<span class="text">Топ по просмотрам</span>
			</a>
			<a href="#" class="btn">
				<svg class="svg-icon"><use xlink:href="#chat-star"></use></svg>
				<span class="text">Топ по рейтингу</span>
			</a>
		</div>
	</div>

	<div class="headline second cols-4">
		<div class="title-holder">
			<h2 class="title">Новые порно видео с Flaming Foxy</h2>
		</div>

		<div class="headline-btns">
			<a href="#" class="btn link-subscribe">
				<svg class="svg-icon is-subscribe"><use xlink:href="#prof-unsubscribe"></use></svg>
				<span class="name">Вы подписаны</span>
				<span class="separator"></span>
				<svg class="svg-icon"><use xlink:href="#icon-user"></use></svg>
				<span class="text">155</span>
			</a>
			<a href="#" class="btn active">
				<svg class="svg-icon"><use xlink:href="#cat-new"></use></svg>
				<span class="text">Новые</span>
			</a>
			<a href="#" class="btn">
				<svg class="svg-icon"><use xlink:href="#cat-eye"></use></svg>
				<span class="text">Топ по просмотрам</span>
			</a>
			<a href="#" class="btn">
				<svg class="svg-icon"><use xlink:href="#chat-star"></use></svg>
				<span class="text">Топ по рейтингу</span>
			</a>
		</div>
	</div>

	{{> thumbs-cols-4}}

	<div class="link-all">
		<a href="#" class="sort-link">
			<span class="text">Смотреть все рекомендуемые порно</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-right"></use></svg>
			</span>
		</a>
	</div>
</div>

{{> footer}}