{{> header pageTitle="Video categories" bodyClass="fancybox-lock"}}

<div class="section">
	<div class="headline second cols-4">
		<div class="title-holder">
			<h2 class="title">Категории порно видео</h2>
		</div>

		<div class="headline-btns mob-lols-2">
			<a href="#" class="btn active col-2">
				<svg class="svg-icon"><use xlink:href="#cat-fire"></use></svg>
				<span class="text">Набирающие популярность</span>
			</a>
			<a href="#" class="btn col-2">
				<svg class="svg-icon"><use xlink:href="#cat-new"></use></svg>
				<span class="text">Новые</span>
			</a>
			<a href="#" class="btn col-2">
				<svg class="svg-icon"><use xlink:href="#cat-eye"></use></svg>
				<span class="text">Топ по просмотрам</span>
			</a>
			<a href="#" class="btn col-2">
				<svg class="svg-icon"><use xlink:href="#chat-star"></use></svg>
				<span class="text">Топ по рейтингу</span>
			</a>
		</div>
	</div>

	<div class="wrap-categories">
		<div class="name">Добавить категорию</div>
		<form action="#" class="form">
			<div class="list-categories">
				<a href="#" class="btn active">Большие сиськи</a>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox" checked>
					<label class="btn wrap-checkbox">+Жены</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox" checked>
					<label class="btn wrap-checkbox">+Домашнее порно</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox" checked>
					<label class="btn wrap-checkbox">+Измена</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Свингеры</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Куколд</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Брюнетки</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Раком</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Чулки и колготки</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Раком</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Зрелые</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Куколд</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Кончил в рот</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Свингеры</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Куколд</label>
				</div>
				<a href="#" class="btn all-link">Все</a>
			</div>
		</form>
	</div>

	{{> thumbs-cols-4}}
	{{> pagination}}
	
</div>

<div class="categories-container">
	<div class="left-col">
		<div class="info">
			<div class="name">О категории:</div>
			<div class="text">Видео на тему: большие и очень большие женские сиськи. Большие и мягкие дойки. Порно ролики с полногрудыми русскими бабами с большими грудями.</div>
		</div>
	</div>
	<div class="right-col">
		<img src="images/category-banner.png" alt="banner" width="482" height="194">
	</div>
</div>

<div class="section mobile-scroll">
	<div class="headline second">
		<div class="title-holder">
			<h2 class="title">Связанные категории</h2>
		</div>
	</div>

	{{> categories-thumbs-cols-5}}

</div>

<div class="section">
	<div class="headline second">
		<div class="title-holder">
			<h2 class="title">Популярные модели этой категории</h2>
		</div>
	</div>

	{{> categories-thumbs-cols-8-vertical}}

</div>

{{> footer}}

<div class="popup-wrap">
	<div class="popup-sm">
		<div class="popup-header">
			<div class="name">Добавить категорию</div>
			<button type="button" class="btn-close">
				<svg class="svg-icon"><use xlink:href="#close"></use></svg>
			</button>
		</div>
		<form action="#" class="form">
			<div class="list-categories">
				<a href="#" class="btn active">Большие сиськи</a>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox" checked>
					<label class="btn wrap-checkbox">+Жены</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox" checked>
					<label class="btn wrap-checkbox">+Домашнее порно</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox" checked>
					<label class="btn wrap-checkbox">+Измена</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Свингеры</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Куколд</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Брюнетки</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Раком</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Чулки и колготки</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Раком</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Зрелые</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Куколд</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Кончил в рот</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Свингеры</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Куколд</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Брюнетки</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Раком</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Чулки и колготки</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Раком</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Зрелые</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Кончил в рот</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Свингеры</label>
				</div>
				<div class="checkbox-holder">
					<input type="checkbox" class="checkbox">
					<label class="btn wrap-checkbox">+Куколд</label>
				</div>
			</div>
			<button type="sumbit" class="button-submit">Применить</button>
		</form>
	</div>
</div>