{{> header pageTitle="Video categories"}}

<div class="section">
	<div class="headline second">
		<div class="title-holder">
			<h2 class="title">Категории порно видео</h2>
		</div>
	</div>

	{{> thumbs-cols-4}}
	{{> pagination}}
	
</div>

<div class="section mobile-scroll">
	<div class="headline second">
		<div class="title-holder">
			<h2 class="title">Связанные категории</h2>
		</div>
	</div>

	{{> categories-thumbs-cols-5}}

</div>

<div class="section">
	<div class="headline second">
		<div class="title-holder">
			<h2 class="title">Популярные модели этой категории</h2>
		</div>
	</div>

	{{> categories-thumbs-cols-8-vertical}}

</div>

{{> footer}}