{{> header pageTitle="Video"}}

<div class="box video-holder">
	<div class="player">
		<div class="player-holder">
			<div class="player-wrap full_off">
				<div class="kt-player">
					<img src="images/player-img.jpg" alt="kt-player" class="kt-player">
					<div class="play-btn">
						<img src="images/play-btn.png" alt="play-btn">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="video-details">
		<div class="video-title-holder">
			<div class="video-title-holder__left">
				<div class="title-video">
					<h1
						title="
							Ты всё это время на меня дрочил? Ты всё это время на меня дрочил? Ты всё это время на меня дрочил? Ты всё это время на меня дрочил? Ты всё это время на меня дрочил? Ты всё это время на меня дрочил? Ты всё это время на меня дрочил? Ты всё это время на меня дрочил?
						"
					>
						Ты всё это время на меня дрочил? Ты всё это время на меня дрочил? Ты всё это время на меня дрочил? Ты всё это время на меня дрочил? Ты всё это время на меня дрочил? Ты всё это время на меня дрочил? Ты всё это время на меня дрочил? Ты всё это время на меня дрочил?
					</h1>
				</div>
			</div>

			<div class="video-title-holder__right">
				<div class="download-holder sort">
					<a href="#" class="btn js-sort">
						<svg class="icon stroke">
							<use xlink:href="#vid-download"></use>
						</svg>
						<span class="text">Скачать порно</span>
						<svg class="icon angle-down fill">
							<use xlink:href="#angle-down"></use>
						</svg>
					</a>
					<div class="drop-holder">
						<div class="item-sort">
							<a class="link-drop" href="#" data-fancybox="ajax">
								<span class="label">MP4</span>
								<span>360p</span>
								<span class="size">10.25 MB</span>
							</a>
						</div>
						<div class="item-sort">
							<a class="link-drop" href="#" data-fancybox="ajax">
								<span class="label">MP4</span>
								<span>720p</span>
								<span class="size">10.25 MB</span>
							</a>
						</div>
					</div>
				</div>
		
				<ul class="btns-block">
					<li>
						<a href="#" class="btn" data-fancybox="ajax">
							<svg class="icon stroke">
								<use xlink:href="#vid-star"></use>
							</svg>
							<span class="text">Избранное</span>
						</a>
					</li>
					<li>
						<a href="#" class="btn">
							<svg class="icon fill">
								<use xlink:href="#vid-later"></use>
							</svg>
							<span class="text">Смотреть позже</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	
		<div class="video-info">
			<div class="buttons-holder">
				<div class="rating-info">
					<div class="rating-container rating-holder">
						<a href="#like" class="rate-like like" data-video-id="69549" data-vote="5">
							<svg class="icon like-icon active">
								<use xlink:href="#vid-thumb-up"></use>
							</svg>
							<span class="quantity">
								47
							</span>
						</a>
						<span class="rate-separator"></span>
						<a href="#dislike" class="rate-dislike dislike" data-video-id="69549" data-vote="0">
							<svg class="icon like-icon">
								<use xlink:href="#vid-thumb-down"></use>
							</svg>
							<span class="quantity">
								7
							</span>
						</a>
					</div>
					<div class="info">
						<div class="item">
							<svg class="icon eye-icon">
								<use xlink:href="#cat-eye-grey"></use>
							</svg>
							<span class="text">3,205</span>
						</div>
						<div class="item">
							<svg class="icon">
								<use xlink:href="#cat-calendar"></use>
							</svg>
							<span class="text">10 часов назад</span>
						</div>
					</div>
				</div>
			</div>

			<div class="tags-block">
				{{#repeat 5}}
					<a href="#" class="tag">
						<svg class='icon fill'>
							<use xlink:href='#vid-tag'/>
						</svg>
						Молодые
					</a>
				{{/repeat}}
			</div>

			<div class="models-block">
				{{#repeat 5}}
					<a href="#" class="model">
						<svg class='icon fill'>
							<use xlink:href='#nav-models'/>
						</svg>
						<span>Модель</span>
					</a>
				{{/repeat}}
			</div>
			
			<div class="info-block" data-opened="info-video">
				<p class="description">
					Застал свою стройную сучку с упругим задом за занятием йогой и решил вмешаться,
					ведь к чему все эти упражнения, когда рядом ходит твердый снаряд для минета и
					езды сверху. На хуе можно и попку подкачать, и калории сжечь, и спермы покушать.
					Не орган, а универсальный солдат, куда не всунь - одни плюсы. Этих аргументов
					хватило, чтобы сучка на него присела и получила кончину в киску.
				</p>
			</div>

			<div class="wrap-comments">
				<div class="comment-block">
					<div class="textarea" contenteditable="true">
						Комментарий
					</div>
					<div class="btns-block">
						<button class="btn cancel-btn">Отмена</button>
						<button class="btn comment-btn">
							<svg class="icon stroke">
								<use xlink:href="#vid-comment"></use>
							</svg>
							Комментировать
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="comments-section">
		{{#repeat 5}}
			{{> video-comment}}
		{{/repeat}}

		<div class="link-all show-more">
			<a href="#" class="sort-link">
				<span class="text">Показать ещё 21</span>
				<span class="icon">
					<svg class="svg-icon"><use xlink:href="#arrow-down"></use></svg>
				</span>
			</a>
		</div>
	</div>
</div>

<div class="section">
	<div class="headline second">
		<div class="title-holder">
			<h2 class="title">Похожие порно</h2>
		</div>
	</div>

	{{> thumbs-cols-4}}

	<div class="link-all show-more">
		<a href="#" class="sort-link">
			<span class="text">Показать больше</span>
			<span class="icon">
				<svg class="svg-icon"><use xlink:href="#arrow-down"></use></svg>
			</span>
		</a>
	</div>
</div>

<div class="section">
	<div class="headline second">
		<div class="title-holder">
			<h2 class="title">Связанные категории</h2>
		</div>
	</div>

	{{> categories-thumbs-cols-5}}
</div>

{{> footer}}