@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-SemiBold.eot');
    src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-SemiBold.woff2') format('woff2'),
        url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
        url('../fonts/SegoeUI-SemiBold.ttf') format('truetype'),
        url('../fonts/SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI.ttf') format('truetype'),
        url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aldrich';
    src: url('../fonts/Aldrich-Regular.eot');
    src: url('../fonts/Aldrich-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aldrich-Regular.woff2') format('woff2'),
        url('../fonts/Aldrich-Regular.woff') format('woff'),
        url('../fonts/Aldrich-Regular.ttf') format('truetype'),
        url('../fonts/Aldrich-Regular.svg#Aldrich-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}